<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%gray(%d{yyyy-MM-dd HH:mm:ss.SSS})] %highlight(%-5level) %logger{60}[%line]: %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="hu.tamas.ruszka.planetary" level="debug"/>

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>